<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

    <div ng-app="myApp" >
        <div ng-controller="raceCtrl"> 
            <select name="venue" id="venue">
                <option ng-repeat="y in myData1"> {{y.venue}} </option>
            </select>
            <select name="marketid" id="marketid">
                <option ng-repeat="y in myData1"> {{y.marketId}} </option>
            </select>
            <select name="venue" id="venue">
                <option ng-repeat="x in myData2"> {{x.selectionId}} </option>
            </select>
            <select name="marketid" id="marketid">
                <option ng-repeat="x in myData2"> {{x.name}} </option>
            </select>
            <select name="trainer" id="trainer">
                <option ng-repeat="x in myData2"> {{x.trainer}} </option>
            </select>
            <select name="rank" id="rank">
                <option ng-repeat="x in myData2"> {{x.number}} </option>
            </select>
        </div>
    </div>

<script src="index.js"></script>

</body>
</html>